.container {
	height: 100vh;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.main {
	padding: 5rem 0.5;
	flex: 1;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.footer {
	margin: 0;
	width: 100%;
	height: 50px;
	border-top: 1px solid #eaeaea;
	display: flex;
	justify-content: space-between;
	padding: 0.25vw;
	align-items: center;
}

.footer img {
	margin-left: 0.5rem;
}

.footer a {
	display: flex;
	justify-content: center;
	align-items: center;
}

.logo {
	height: 1em;
}
